.card {
  border-radius: 20px;
  padding: 10px;
  flex-flow: row wrap;
  display: flex;
  background: #9772ff;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.247);
}

/* All the card's children */
.card > * {
  flex: 1 100%;
}

/*this isn't being used at the moment*/
.topic {
  padding: 8px;
  text-align: left;
  font-weight: bold;
  font-size: 2em;
  max-height: fit-content;
  background: #9772ff;
  color: #fff;
  border-radius: 20px;
}
