.card {
  border: 1px solid black;
  border-radius: 5px;
  flex-flow: row wrap;
  display: flex;
  background: #8450e4;
  //box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
}

/* All the card's children */
.card > * {
  flex: 1 100%;
}

.topic {
  padding: 8px;
  text-align: left;
  font-weight: bold;
  font-size: 2em;
  max-height: fit-content;
  background: #8450e4;
  color: #fff;
  border-radius: 5px;
}
