.info-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #8450e4;
  //min-width: 25%;
  width: 30%;
}

.info-button {
  flex: 0 1 auto;
  font-family: "Cabin", sans-serif;
  font-size: 1em;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  min-height: fit-content;
  width: 100%;
  letter-spacing: 1.5px;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  //box-shadow: 1px 1px 5px rgb(122, 122, 122);
}

@media screen and (max-width: 1450px) {
  .info-button {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .info-button-wrapper {
    margin: 10px;
  }
  .info-button {
    font-size: 1.5rem;
    display: block;
    width: 75%;
    padding: 5px 0px;
    margin: 5px 0px;
    //box-shadow: 2px 2px 5px rgb(122, 122, 122);
  }
}
