.mid {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 175px;
}

@media screen and (max-width: 1000px) {
  .mid {
    flex-direction: column;
    margin: 10px;
  }
}

@import "./question";
@import "./diceButtons";
