.mid {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.question {
  border-radius: 5px;
  flex: 1;
  padding: 15px;
  background: #fffaff;
  //box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  text-align: center;
  width: 60;
}

@media screen and (max-width: 1000px) {
  .question {
    font-size: 1.5rem;
    margin: 10px 10px;
  }
  .mid {
    flex-direction: column;
    margin: 0;
  }
}

@import "./diceButtons";
