.nav-btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 5px;
  width: 100%;
}

/* All the nav buttons */
.nav-btn-wrapper > * {
  //box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 30%;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

#nextBtn {
  background: #5533ff;
  &:hover {
    background: #5533ffa1;
  }
}

#prevBtn {
  background: #5533ff;
  &:hover {
    background: #5533ffa1;
  }
}

#randomBtn {
  background: #7cddb2;
  &:hover {
    background: #7cddb1ce;
  }
}
