.topic-modal-bg {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-topic-modal {
  padding: 10px;
  position: relative;
  z-index: 10;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.add-topic-form {
  //border: 2px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1.5rem 1rem 1rem 1rem;
  // height: 90%;
  label {
    padding: 10px 0px;
    font-weight: bold;
    font-size: 20px;
  }
  input {
    font-size: 16px;
  }
  .button-container {
    //border: 1px solid black;
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 16px;
  }
}
