.topicSelect {
  display: flex;
  align-self: flex-start;
  padding: 1rem;
  color: white;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  label {
    margin-right: 10px;
  }
  select {
    font-size: 1rem;
    min-width: min-content;
    //display: none;
  }
}

@media screen and (max-width: 1000px) {
  .topicSelect {
    width: 100%;
    font-size: 1.5em;
    padding: 0.5rem;
    label {
      margin: 0 5px 0 0;
    }
  }
}
